
# PROJECT
app/static/dev/bower_components/
app/static/prod/
data/*.db
node_modules/
temp/
tmp/
venv/

app/static/dev/bower-components.min.js
app/static/dev/bower-components.min.css
app/static/dev/modules/stock-machine/**/*.js
app/static/dev/modules/stock-machine/**/*.js.map

*.log
*.pyc



# IDE
/.idea
*.iml


# Operating system
.DS_Store
