
# PROJECT
data/*.db
node_modules/
temp/
tmp/
venv/

public/dev/bower_components/
public/dev/bower-components.min.js
public/dev/bower-components.min.css
public/dev/modules/stock-machine/**/*.js
public/dev/modules/stock-machine/**/*.js.map
public/prod/

*.pyc



# IDE
/.idea
*.iml


# Operating system
.DS_Store
