

.green-text { color:#090; }
.red-text { color:#900; }
.gray-text { color:#aaa; }


.bold { font-weight: bold; }


/*-------------------- flexRows / flex-cols --------------------*/

/*//TODO@mattbill: add flexRows. Finish.*/
.flex-cols {
    display: flex;
    flex-direction: row;
    /*align-items: stretch;*/
    /*align-content: stretch;*/
    /*justify-content: space-around;*/
}
.flex-cols > * {
    min-width: 10px;
    flex-basis: 1px;
    padding: 0 4px;
}

.flex-this-1 {
    flex-grow: 1;
}
.flex-auto {
    flex-basis: initial;
    width: auto;
}
