<!DOCTYPE html>
<html lang="en" ng-app="stockMachineApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Stock Machine</title>

    <link href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="static/dev/css/analysis.css" rel="stylesheet">
    <link href="static/dev/css/login.css" rel="stylesheet">
    <link href="static/dev/css/main.css" rel="stylesheet">
    <link href="static/dev/css/misc.css" rel="stylesheet">
    <link href="static/dev/css/print.css" rel="stylesheet" media="print">
</head>
<body>

    <div ng-include="'static/dev/modules/stock-machine/views/header.html'"></div>
    <div class="container-fluid" ui-view></div>


    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="static/bower_components/angular-ui-sortable/sortable.min.js"></script>
    <script src="static/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="static/bower_components/highcharts/highcharts.js"></script>
    <script src="static/bower_components/lodash/dist/lodash.js"></script>

    <script src="static/dev/modules/stock-machine/app.js"></script>
    <script src="static/dev/modules/stock-machine/controllers/analysis-ctrl.js"></script>
    <script src="static/dev/modules/stock-machine/controllers/automate-ctrl.js"></script>
    <script src="static/dev/modules/stock-machine/controllers/data-table-ctrl.js"></script>
    <script src="static/dev/modules/stock-machine/controllers/login-ctrl.js"></script>
    <script src="static/dev/modules/stock-machine/controllers/recent-stock-list-modal-ctrl.js"></script>
    <script src="static/dev/modules/stock-machine/directives/recent-stock-list.js"></script>
    <script src="static/dev/modules/stock-machine/directives/simple-chart.js"></script>
    <script src="static/dev/modules/stock-machine/directives/stock-input-calc.js"></script>
    <script src="static/dev/modules/stock-machine/directives/stock-metrics-table.js"></script>
    <script src="static/dev/modules/stock-machine/directives/xng-enter.js"></script>
    <script src="static/dev/modules/stock-machine/filters/red-green-num.js"></script>
    <script src="static/dev/modules/stock-machine/filters/site-num.js"></script>
    <script src="static/dev/modules/stock-machine/filters/site-percentage.js"></script>
    <script src="static/dev/modules/stock-machine/services/utils-serv.js"></script>
</body>
</html>
