<!DOCTYPE html>
<html lang="en" ng-app="stockMachineApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Stock Machine</title>

    <link href="static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/dev/css/analysis.css" rel="stylesheet">
    <link href="static/dev/css/login.css" rel="stylesheet">
    <link href="static/dev/css/main.css" rel="stylesheet">
    <link href="static/dev/css/misc.css" rel="stylesheet">
    <link href="static/dev/css/print.css" rel="stylesheet" media="print">
    <link href="static/dist/styles.css" rel="stylesheet">
</head>
<body>

    <div ng-include="'static/dev/modules/stock-machine/views/header.html'"></div>
    <div class="container-fluid" ui-view></div>


   <script src="static/dist/bower_components.js"></script>

    <script src="static/dev/modules/stock-machine/app.js"></script>
    <script src="static/dev/modules/stock-machine/components/analysis-page.js"></script>
    <script src="static/dev/modules/stock-machine/components/automate-page.js"></script>
    <script src="static/dev/modules/stock-machine/components/data-table-page.js"></script>
    <script src="static/dev/modules/stock-machine/components/login-page.js"></script>
    <script src="static/dev/modules/stock-machine/directives/recent-stock-list.js"></script>
    <script src="static/dev/modules/stock-machine/directives/simple-chart.js"></script>
    <script src="static/dev/modules/stock-machine/directives/stock-input-calc.js"></script>
    <script src="static/dev/modules/stock-machine/directives/stock-metrics-table.js"></script>
    <script src="static/dev/modules/stock-machine/directives/xng-enter.js"></script>
    <script src="static/dev/modules/stock-machine/filters/red-green-num.js"></script>
    <script src="static/dev/modules/stock-machine/filters/site-num.js"></script>
    <script src="static/dev/modules/stock-machine/filters/site-percentage.js"></script>
    <script src="static/dev/modules/stock-machine/modals/recent-stock-list-modal.js"></script>
    <script src="static/dev/modules/stock-machine/services/stocks-serv.js"></script>
    <script src="static/dev/modules/stock-machine/services/utils-serv.js"></script>
</body>
</html>
